@import "../../Styles/variables";
@import "../../Styles/mixins";

.tabsBlock {
  margin: 40px 0 20px 0;
  &__inner {
    @include flex-center;
    gap: 10px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $greyTab_color;
    padding: 0 4px;
    &__text {
      font-size: 14px;
      font-weight: 500;
    }
  }
}
